*.o
Makefile
Makefile.in
aclocal.m4
.deps
.libs
*.lo
*.la
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/config.hpp
src/gui/dino
stamp-h1
